.header__menu {
    display: none;

    &:active {
        transform: scale(0.95)
    }
}

.drop {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    z-index: 100;
    box-shadow: -10px 3px 55px rgba(0, 0, 0, 0.118), -3px 10px 55px rgba(0, 0, 0, 0.111);
    background-color: white;

    .close {
        position: absolute;
        top: 0;
        left: 12px;
        font-size: 80px;
        line-height: 65px;
        font-weight: bold;
    }

    li {
        text-align: end;
        padding: 17px 30px 17px 40px;

        a {
            font-size: 22px;
            font-weight: 500;
        }
    }

    .bg {   
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: transparent;
        z-index: -1;
    }
}

@media (max-width: 650px) {
    .drop {
        width: 100%;
        box-shadow: 0px 15px 45px rgba(0, 0, 0, 0.624);
        .close {
            left: inherit;
            right: 12px;
            margin: 0 15px 0 0;
        }
        li {
            text-align: center;
            padding: 17px 120px;
        }
    }
}


.bgForImg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1200;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    img {
        position: absolute;
        object-fit: contain;
        opacity: 0;
        border-radius: 20px;
    }

    .img-close {
        position: relative;
        color: white;
        font-size: 30px;
        cursor: pointer;

        &:hover {
            color: rgba(0,0,0,0.8);
        }
    }
}

.hide {
    display: none;
    .bg {
        display: none;
    }
}

@media (max-width: 1000px) {
    .header__menu {
        display: block;
    }

    .header__list {
        display: none;
    }
}


